<div class="row">
  <div *ngIf="product" class="col-6">
    <div class="col-3">
      <div class="product-view">
        <div class="image-box">
          <img [src]="product.image" [alt]="product.name" width="350px" />
        </div>
        <div class="description-box">
          <h2>{{ product.name }}</h2>
          <p>{{ product.description }}</p>
          <strong>Price: {{ product.price | currency }}</strong>

          <button class="btn btn-light" (click)="addToCart(product)">
            Add to Cart
          </button>
          <br />
        </div>
      </div>
    </div>
    <div class="col-3">
      <img
        src="../../assets/img/3/Employee Handbook2.png"
        alt="More Icon"
        class="more-icon"
      />
      <br />
      <div
        *ngIf="similarProducts.length > 0; else noSimilar"
        class="similar-products"
      >
        <div
          *ngFor="let similarProduct of similarProducts"
          class="col-2 product-box"
          (click)="viewProduct(similarProduct.id)"
        >
          <img
            [src]="similarProduct.image"
            [alt]="similarProduct.name"
            width="200px"
          />
        </div>
      </div>
      <ng-template #noSimilar><p>No similar products found</p></ng-template>
    </div>
  </div>
</div>
