<div class="container">
  <div class="row">
    <div class="col-12 col-md-6">
      <div class="mobile-about-box"></div>
      <div class="about-box">
        <div class="about-box-image-back">
          <div class="about-content">
            <h3>Über mich</h3>
            <p>
              ✨ Hallo! Ich bin Karas, eine leidenschaftliche Künstlerin mit
              Liebe zum Detail und einem Faible für handgemachte und
              personalisierte Designs.
              <br /><br />
              Auf dieser Seite teile ich meine kleinen Kunstwerke – von
              liebevoll gestalteten Tassen über zarte Tonhäuser bis hin zu
              digitalen Illustrationen. Jedes Stück ist ein Unikat und mit viel
              Herz gefertigt.
              <br /><br />
              In meiner Arbeit verbinde ich Kreativität mit Persönlichkeit – für
              besondere Geschenke oder einfach kleine Dinge, die Freude machen.
              🫶
              <br /><br />
              Folge mir gern auf Instagram, um mehr Einblicke in meinen
              kreativen Alltag zu bekommen!
            </p>
          </div>
        </div>
      </div>
    </div>
    <div class="col-12 col-md-6">
      <img
        class="character-image"
        src="../../assets/img/7/IMG_0145_2.png"
        alt="Character"
      />
    </div>
  </div>
</div>
