<div class="cart">
  <div class="container">
    <div class="row">
      <div class="col-3">
        <div class="cart-items">
          <h2>Your Cart</h2>
          <div *ngIf="cartItems.length > 0; else emptyCart">
            <div *ngFor="let item of cartItems" class="cart-item">
              <div *ngIf="item">
                <div class="product-image">
                  <img [src]="item.image" alt="{{ item.name }}" width="200px" />
                </div>
                <div class="product-details">
                  <p>
                    <strong>{{ item.name }}</strong>
                  </p>
                  <p>{{ item.description || "No description available" }}</p>
                  <p>Price: {{ item.price | currency }}</p>
                  <p>Quantity: {{ item.quantity }}</p>
                  <p>Total: {{ item.price * item.quantity | currency }}</p>
                </div>

                <div class="item-actions">
                  <button class="remove-btn" (click)="deleteCartItem(item.id)">
                    Remove
                  </button>
                </div>
              </div>
            </div>
          </div>
          <ng-template #emptyCart>
            <p>Your cart is empty.</p>
          </ng-template>
        </div>
      </div>

      <div class="col-3">
        <div class="cart-summary">
          <h2>Cart Summary</h2>
          <p>Total: {{ total | currency }}</p>
          <button class="btn" (click)="togglePaymentIcons()">Bezhalen</button>

          <div class="payment-icons" *ngIf="showPaymentIcons">
            <a href="https://www.paypal.com" target="_blank">
              <img
                src="https://upload.wikimedia.org/wikipedia/commons/b/b5/PayPal.svg"
                alt="PayPal"
              />
            </a>
            <a href="https://www.klarna.com" target="_blank">
              <img
                src="https://pixcap.com/cdn/library/template/1718302297998/thumbnail/Klarna_3D_Icon_Payment_transparent_emp_800.webp"
                alt="Klarna"
              />
            </a>
            <img
              src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAADgAAAAfCAMAAACF8f6iAAAAdVBMVEX///8UNMsAJMkAKspca9YALMoAJskAD8cIL8oAIMgAHcioreYAFMextumiqOUAAMaMlN9GV9G+wuxLXNLv8Pp7hdxlctf6+/7Cxu3f4fbm6PiVnOLO0fHV1/PZ3PSco+RWZtU5TdCBit0tRM5vetkfOswnP839FUl8AAAB00lEQVQ4je1TW4KDIAwkIIKIj/q2rda27t7/iJsE63KE/dj5aIlJJiQThPjHn8KjbbcEkQfzjkY7ihZ/ZzS7R+uMf/YLO+chSbbikzlOQ6W1ria2EqnlIGajtSFWk1oAsL5kp1RayySqelUAqqZT5wH8IgoJ9iLEDS0rM6n8Ss4iQxJQ8X1rBbbli6dgn0L0ioi6CkBfiql4GY56UnXw1yjx7vADHdCRYRNvC1nDFexv0Oopjxy/GH1gmpAgPc2HxLD7GbQrJJVHTx+0XEJsGtI6XEAjDZXwfRdCMH27jebo6RQlhfTGTfmOLT3g10tKwzCPTwhyf2GFOHFxSCduR8KgQbIAiad5uI3OOHk30n39HGc6mrNlLQT9u9Db9E0SONyOxoHqBQklizgxwSI5qvcmWbG3ajwcJVJSWxcLab5uNJ0+TsQkOLQQTRYIAlBTlHamQaXOYVjkQ8xBJElnXAdibXhdSHa1U/qJ8zYMzevEGuGtqI/WfO2vXWHDZiFlrSHIs/8DO1F61swATw5DtCI+/xJlWF4RplPGiYWR0vHmL5WUuJzXKsPHoJWj6lkmTXh4c3WEfdCVeV6yQiueaEZdU+/JXtNzu5Lz2CA85uIffws/lusXjWNFJpAAAAAASUVORK5CYII="
              alt="Visa"
              style="cursor: pointer"
            />
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
